<div class="row mt-5" >
  <div class="col-md-3 mb-2" *ngFor="let hijo of hijos">
    <div class="card text-center"(click)="mostrarDetalleHijo(hijo)">
      <div class="card-body">
        <img class="card-img-top" src="{{hijo.img}}" alt="imagen app" height="100" width="180">
        <p class="card-title">{{hijo.name}}</p>
        <p class="card-text">{{hijo.Codigo}}</p>
        <!--<a href="#" class="btn btn-success">Buy Tickets</a>-->
      </div>
      <div class="card-footer text-muted">
        {{hijo.price | currency}}
      </div>
    </div>
  </div>
</div>
