<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand text-white mb-0 h1 "[routerLink]="['/home']" >
    <img src="http://cdn.foxsportsla.com/sites/foxsports-la/files/img/competition/shields-original/logo_mundial_original.png?ver=1f8c3775-c296-468a-b021-0bfe7ba91db1" width="30" height="30" class="d-inline-block align-top" alt="">
    FIFA WORD CUP RUSIA 2018</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"><i class="icon ion-md-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">

        <a class="nav-link" [routerLink]="['/carrito']"> <i class="icon ion-md-cart"></i> Carrito de Compras <span class="badge badge-light">{{indice}}</span></a>
      </li>

    </ul>

    <span class="navbar-text "> <i class="icon ion-md-contact"></i> Usuario: {{nombre}}</span>
  </div>
</nav>
