<div class="row mt-5" >
  <div class="col-md-3 mb-2" *ngFor="let Producto of hijos">
    <div class="card text-center"(click)="mostrarDetalleHijo(Producto)">
      <div class="card-body">
        <img class="card-img-top" src="{{Producto.img}}" alt="imagen app" height="100" width="180">
        <p class="card-title">{{Producto.name}}</p>
        <p class="card-text">{{Producto.codigo}}</p>
        <!--<a href="#" class="btn btn-success">Buy Tickets</a>-->
      </div>
      <div class="card-footer text-muted">
        {{Producto.price | currency}}
      </div>
    </div>
  </div>
</div>
