<div class="row">

  <div class="col-sm-12">
    <app-barrabusqueda></app-barrabusqueda>
  </div>

  <div class=" container col-sm-12" *ngIf="estado==true">
    <div class="row">
      <div class="col-sm-12"><br></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="card bg-light" >
          <div class="card-header"> <i class="icon ion-md-alert"></i> NO DISPONIBLE</div>
          <div class="card-body">
            <h5 class="card-title">Este producto ya se encuentra en tus compras.</h5>

          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class=" container col-sm-12" *ngIf="estado==false">
    <div class="row">
      <div class="col-sm-12" align="center">
        <br>
        <p class="h3">ATRIBUTOS DEL producto</p>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Seleccion: {{producto[0].tienda.nombre}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <img class="img-fluid" [src]=producto[0].urlImagen alt="No disponible">
              </div>
              <div class="col-sm-7">
                <h5 class="card-title">Nombre: {{producto[0].nombre}} </h5>
                <p class="card-text">Codigo: {{producto[0].codigo}}</p>
                <p class="card-text">Varlor: {{producto[0].valor}}</p>
                <button [routerLink]="['/home']" (click)="comprarproducto()" class="btn btn-primary">
                  <i class="icon ion-md-cart"></i> Agregar al Carro</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
